.defaultEnterAnimation {
    /* animation: fadeInKeyframes 0.2s forwards; */
}

.defaultExitAnimation {
    /* animation: fadeOutKeyframes 0.2s forwards; */
}

@keyframes fadeInKeyframes {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutKeyframes {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
