.moranaPage {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.fadeIn {
    animation: fadeInKeyframes 0.2s ease-in;
}

@keyframes fadeInKeyframes {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}