.navigationBar {
    min-height: 48px;
    box-sizing: border-box;
    padding: 8px 32px calc(4px + var(--morana-safe-area-bottom)) 32px;
    align-items: center;
    justify-content: space-between;
    background: var(--color-surface);
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    font-size: 16px;
}

.navIcon {
    color: var(--color-rose);
}

.navIcon.active {
    color: var(--color-gold);
}
 