/* slide in/out */

.routeTransition {
    transition: transform 0.3s linear;
}

.defaultCurrentRoute {
    z-index: 2;
}

.defaultAwayRoute {
    z-index: 1;
}

.defaultAwayRoute.parked {
    display: none;
}

.defaultAwayRoute::before {
    background: #474747;
    opacity: 0.7;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

.defaultRouteEnterAnimation {
    animation: slideInKeyframes 0.3s ease-out forwards;
}

.defaultRouteExitAnimation {
    transform: none;
}

@keyframes slideInKeyframes {
  from {
    /* transform: translateX(-100%); */
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* fade in/out */

.defaultCurrentRouteFade {
    z-index: 1;
}

.defaultAwayRouteFade {
    z-index: 2;
}

.defaultAwayRouteFade.hidden {
    display: none;
}

.defaultFadeInAnimation {
    animation: fadeInKeyframes 0.3s forwards;
}

.defaultFadeOutAnimation {
    animation: fadeOutKeyframes 0.3s forwards;
}

@keyframes fadeInKeyframes {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutKeyframes {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
