.routeTransition {
    transition: transform 0.3s linear;
}

.defaultCurrentRoute {
    z-index: 1;
} 

.defaultAwayRoute {
    z-index: 2;
    transform: translateX(100%);
}

.defaultAwayRoute.parked {
    display: none;
}

.defaultAwayRoute::before {
    background: #474747;
    opacity: 0.7;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

.defaultRouteEnterAnimation {
    transition: none;
    transform: translateX(0%);
}

.defaultRouteExitAnimation {
    transform: translateX(100%);
}

/* fade in/out */

.defaultCurrentRouteFade {
    display: block;
}

.defaultAwayRouteFade {
    display: none;
}

.defaultFadeInAnimation {
    animation: fadeInKeyframes 0.2s forwards;
}

.defaultFadeOutAnimation {
    animation: fadeOutKeyframes 0.2s forwards;
}

@keyframes fadeInKeyframes {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutKeyframes {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
