.header {
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-top: calc(var(--morana-safe-area-top) + 16px);
    box-sizing: border-box;
    background: var(--color-surface);
    position: relative;
    min-height: 48px;
}

.title.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}